<% include ../partials/header %>


<h1>show page of:"<%=campground.name%>"</h1>
<p><%=campground._id%></p>
<p><%=campground.descripsion%></p>
<img src="<%=campground.image%>">

<p>
    <a class="btn btn-sm btn-default" href="/index/<%=campground._id%>/comments/new">Add new comment</a>
</p>

<% campground.comments.forEach(comment => {  %>
    <p>
            <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>  
<% });  %>
    

<% include ../partials/footer %>